h1 {
	color:87624C;
	background-color:#ED8CA6 ;
	font-size:100px ;
    text-align: center;
}




body {
    background-color:#784137;
    color: #D64D5B;
    font-family: Arial, sans-serif;
}

h1 {
	color: #684C3B;
	
	font-family:serif;

	background-color:#A3765C ; 
}
 
h1:hover {
	color:#ED8CA6;
}
 
              background-color:#996140 

h2: {
	color:#7BE0C3;
}